*{
    margin: 0px;	
    padding: 0px;
    }
    
    body{
        background: #444;
            color: #fff;
    }
    
    #contenedor {
    width: 960px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    }
    @keyframes anim
    {
        0% {background-color: #ff0;} /*Amarillo*/
        25% {background-color: #f80;} /*Naranja*/
        50% {background-color: #000;} /*Negro*/
        75% {background-color: #f80;} /*Otra vez naranja*/
        100% {background-color: #ff0;} /*Otra vez amarillo*/
    }
    


    header {
        height: 150px;
        background: #000;
    }
    
    header h1 {
        font-size: 50px;
        text-align: center;
        line-height: 150px;
    }
    
    nav {
        background: pink;
        height: 60px;
       
    }
    #MENU {
       
        font-size: 40px;
        text-align: center;
        line-height: 60px;
        margin-top: 10px;
        margin-right: 10px;
    
       
    }  
    

    #ING {
        width: 960px;
        height: auto;
        background: rgb(29, 8, 49);
        
        margin-top: 10px;
        margin-right: 10px;
    }


    
    #contenido {
       
        width: 960px;
        height: 1000px;
        background: rgb(29, 8, 49);
        
        margin-top: 10px;
        margin-right: 10px;
        
    }

    #contenido2 {
       
        width: 960px;
        height: 1600px;
        background: rgb(29, 8, 49);
        
        margin-top: 10px;
        margin-right: 10px;
        
    }


    
    h2{
        font-size: 40px;
text-align: center;
         }

    

    #titulo {
        font-size: 30px;
    
    }
    p{font-size: 20px;
    }
    

    
    footer {
        background: #000;
        width: 960px;
        height: 40px;
        
        margin-top: 10px;
        margin-right: 20px;
       
        border-top: 2px solid rgba(0, 0, 0, 0.24);  
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
}







.btn {
	font-size: 16px; 
	color: #ffffff; /* Color del texto */
	background-color: #E91E63; /* Color de fondo */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}


#consulta{

 margin-left: 20px;
}

h3{
    margin-top: 10px;
    font-style: italic;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
}

#map{
    margin-left: 10px;
}


#desarrollo{
font-size: 20px ;

font-style: italic;
}

#stitulo{
    font-size: 25px;
    text-decoration: underline;


}