
#header, #MENU, #contactForm {
    
 
    color: white;
    background-color:black;
    
    

}

#header{
  font-size: 100px;
  font-style: italic;
}


#page, #footer {
    height: 100%;
    background: #000;
    font-size: 50px;
    text-align: center;
    line-height: 150px;
    font-family: 'Shadows Into Light', cursive;

  }




nav {
  background: black;
  height: 60px;
 
  }

  
  #menu, #content {
     display: inline-block;
  }
  

  #MENU {
       
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    margin-top: 5px; 
    border: 1px solid #28323f;

   
  }  


  #menu {
   
    width: 100%;
    background-color: black;
  }
  
  
  #content {
    background-color: #6d563b;
    width: 100%;
    color: rgb(235, 247, 234);

  }


  @media screen and (max-width: 640px) {
    #menu {
      background: rgb(138, 138, 143);
      
    }
  }
  
  @media screen and (min-width: 640px) and (max-width: 1280px) {
    #menu {
      background: rgb(58, 41, 155);
    }
  }
  
  @media screen and (min-width: 1280px) {
    #menu {
      background: rgb(70, 3, 3);
    }
  }


  .btn {
  font-weight: bold;
  font-size: 25px; 
	color: #000000; 
	background-color: green; 
	position: fixed;
	bottom: 60px;
	right: 60px;
	transition: all 300ms ease 0.1s;
	z-index: 99;

}

.btn:hover {
  background-position: right;
  color: rgb(241, 237, 237);
  font-weight: 700;
}



  h3{
    margin-top: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;

}




h2{
    
    margin-top: 10px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

p{
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: left;
  margin-left: 20px;
}

.btn1 {
  padding: 15px 50px;
  margin: 10px;
  font-size: 20px;
  border: 0px solid #ff8b07;
  color: white;
  cursor: pointer; 
  background: linear-gradient(to right, transparent 50%, #6d563b 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s;
}

.btn1:hover {
  background-position: right;
  color: black;
  font-weight: 700;
}

#submitButton{
  position: static;
}


